:root {
    --animation-kraos-x-last: 50%;
    --animation-kraos-y-last: 0%;
    --animation-kraos-x: 50%;
    --animation-kraos-y: 0%;
}

@font-face {
    font-family: OCRAStd;
    src: url(../font/ocr-a-std/OCRAStd.otf);
}

.navbarKraosBg {
    transition: background-color 0.4s ease, background-position-y 0.4s ease;
}

.navbarKraosBg.transparent {
  background-color: transparent;
  background-position-y: -100%;
}

.navbarKraosBg.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  background-position-y: 0;
}

.navbarKraosBg.scrolled .texto1 {
        font-size: 1.525rem;
}

.navbarKraosBg.scrolled .texto2 {
        font-size: 1.525rem;
}

.kraos-skill1 {
    background-color: #111111;
    border: solid #fff 1px;
    
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

.kraos-skill1:hover {
    transform: translateY(-10px);
}

.btnKraos1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #367639;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px #fff;
}

.btnKraos1:hover {
    background-color: #14471E
}

.btnKraos1:active {
    background-color: #14471E;
    box-shadow: 0 2px #fff;
    transform: translateY(2px);
}

.btnKraos2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #111111;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px #fff;
}

.btnKraos2:hover {
    background-color: #000000
}

.btnKraos2:active {
    background-color: #000000;
    box-shadow: 0 2px #fff;
    transform: translateY(2px);
}

.csharp {
    color: #178600;
    font-weight: bold;
}

.java {
    color: #b07219;
    font-weight: bold;
}

.sql {
    color: #00758f;
    font-weight: bold;
}

.unity {
    color: #808080;
    font-weight: bold;
}

.keyword {
    color: #FFEE00;
    font-weight: bold;
}

.textKraos1 {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.textKraosFooter {
    font-family: OCRAStd;
    text-shadow: 5px 5px 5px #000000;
    color: #fff !important;
}

.subtitleKraos1 {
    font-style: italic;
    margin-bottom: 2rem;
}

.btnTogglerKraos {
    border: none !important;
    box-shadow: none !important;
    font-family: OCRAStd;
    text-shadow: 5px 5px 5px #000000;
    color: #fff !important;
    font-size: 2em;
}

.darkSectionContent {
    padding-bottom: 10vh;
}

.darkBgSection {
    background-color: #111111;
    font-family: OCRAStd;
    text-shadow: 5px 5px 5px #000000;
    color: #fff !important;
    text-align: center;
}

.noBgSection {
    padding: 10vh 10vh 10vh 10vh;
    font-family: OCRAStd;
    text-shadow: 5px 5px 5px #000000;
    color: #fff !important;
    text-align: center;
}

.loreSection-line {
    display: block;
    height: 10vh;
    width: 100%;
}

.mainPage-line {
    height: 10vh;
    width: 100%;
    background-color: #111111;
    left: 0;
    top: 100%;
    position: absolute;
}

.navbarKraos {
    flex-grow: 0 !important;
    text-align: center;
}

.navItemKraos .kraos-line {
    opacity: 0;
    transform: translateY(10px);
}

.navItemKraos:hover .kraos-line {
    opacity: 100;
    transform: translateY(0px);
}

.kraos-line {
    height: 2px;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px #000000;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.4s;

}

.navItemKraos {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.navLinkKraos {
    font-family: OCRAStd;
    text-shadow: 5px 5px 5px #000000;
    color: #fff !important;
    font-size: 1.5em;
}

.logo-text-row {
    display: flex;
    flex-wrap: wrap;
}

.logo-text-col {
    font-family: OCRAStd;
    margin: auto;
    text-shadow: 5px 5px 5px #000000;
    color: #fff;
}

.logo-text-col .texto1 {
    transform: scaleY(2.5);
    margin: 0;
}

.logo-text-col .texto2 {
    margin: 0;
}

.main-page {
    position: relative;
    height: 100vh;
}

#kraos-image {
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
    position: absolute;
    transform: translate(-50%, 0);
    animation-name: kraos-float;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 700px) {
  #kraos-image {
    width: 600px;
  }
}

@keyframes kraos-float {
    0% {
        left: var(--animation-kraos-x-last);
        bottom: var(--animation-kraos-y-last);
    }

    100% {

        left: var(--animation-kraos-x);
        bottom: var(--animation-kraos-y);
    }
}


body {
    background-image: url("../images/FondoCaos2.png"), url("../images/FondoVerde.png");
    background-size: 1920px 1074px, cover;
    background-repeat: repeat, no-repeat;
    animation-name: bg-loop;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes bg-loop {
    0% {
        background-position: center 0, center;
    }

    100% {
        background-position: center 1074px, center;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}